body {
    margin: 0;
    background-color: antiquewhite;
}

.cabecalho {
    background-color: darkmagenta;
    position: static;
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.principal {
    position: static;
    font-family: Arial, Helvetica, sans-serif;
}

.trecho {
    position: static;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.rodape {
    position: static;
    text-align: right;
    background-color:darkmagenta;
    width: 100%;
    margin-top: 200px;
    font-size: 30px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}